# HermesVoice 配置文件
# 推送到 R1: adb push config.properties /sdcard/hermes_config.properties

hermes.url=http://YOUR_HERMES_IP:8748
stt.url=http://YOUR_MAC_IP:9000
auth.user=your_username
auth.pass=your_password
wake.word=\u5c0f\u8587
wake.timeout=3
continuous.pause=2
continuous.timeout=30
continuous.mode=true
kws.threshold=0.05
